/HW2/HW2_BlinkingLight.X/dist/
/HW2/HW2_BlinkingLight.X/build/
**/.DS_Store
/HW3/HW3_send_sin.X/build/
/HW3/HW3_send_sin.X/dist/
/HW5/HW5_spi.X/build/
/HW5/HW5_spi.X/dist/
/HW6/HW6_I2C.X/build/
/HW6/HW6_I2C.X/dist/
/HW7/build/
/HW7/dist/
/HW8/build/
/HW8/dist/
/HW10/build/
/HW10/dist/
/HW14/dist/
/HW14/build/
/HW16/build/
/HW16/dist/